.imgEffectRight {
  -webkit-mask-image: linear-gradient(to left, black, transparent);
  mask-image: linear-gradient(to left, black, transparent);
}

.imgEffectLow {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.navbar {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.ShadowEffect {
  filter: drop-shadow(10px 0px 10px rgba(0, 0, 0, 0.9));
}
.ShadowEffect2 {
  filter: drop-shadow(0px 0px 7px #0285c7a3);
}

#service {
  scroll-margin-top: 5rem; /* Ajusta este valor según la altura del NavBar */
}
#contacto {
  scroll-margin-top: 5rem; /* Ajusta este valor según la altura del NavBar */
}

.fondoAbout {
  background: linear-gradient(
      rgba(253, 252, 252, 0.7),
      rgba(255, 254, 254, 0.7)
    ),
    url("https://i.pinimg.com/564x/be/8d/57/be8d5758518fe97a56d4583254fb9911.jpg");

  background-size: cover;
}

.slideTrack {
  display: flex;
  animation: scroll 50s linear infinite;
  width: calc(100px * 30); /* Ajuste del ancho para 100px por slide */
}

.slide {
  width: 50px; /* Ajuste del ancho de cada slide */
  height: 50px;
  margin: 10px; /* Eliminación del margen */
}

.slide img {
  width: 100%;
  height: 100%;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(
      calc(-100px * 15)
    ); /* Ajuste del ancho de la animación */
    transform: translateX(calc(-100px * 15));
  }
}

.ballMovile {
  animation: ballMovile 1s infinite alternate;
  animation-timing-function: linear;
}
@keyframes ballMovile {
  0% {
    filter: drop-shadow(0px 0px 0px rgba(255, 253, 253, 0.071));
  }

  100% {
    filter: drop-shadow(0px 0px 10px #0284c7);
  }
}

/* Media Queries */
@media (max-width: 1200px) {
  .slideTrack {
    width: calc(90px * 30); /* Ajuste del ancho para 90px por slide */
  }

  .slide {
    width: 90px; /* Ajuste del ancho de cada slide */
    height: 90px;
  }
}

@media (max-width: 992px) {
  .slideTrack {
    width: calc(80px * 30); /* Ajuste del ancho para 80px por slide */
  }

  .slide {
    width: 80px; /* Ajuste del ancho de cada slide */
    height: 80px;
  }
}

@media (max-width: 768px) {
  .slideTrack {
    width: calc(70px * 30); /* Ajuste del ancho para 70px por slide */
  }

  .slide {
    width: 70px; /* Ajuste del ancho de cada slide */
    height: 70px;
  }
}

@media (max-width: 576px) {
  .slideTrack {
    width: calc(60px * 30); /* Ajuste del ancho para 60px por slide */
  }

  .slide {
    width: 60px; /* Ajuste del ancho de cada slide */
    height: 60px;
  }
}

@media (max-width: 360px) {
  .slideTrack {
    width: calc(50px * 30); /* Ajuste del ancho para 50px por slide */
  }

  .slide {
    width: 50px; /* Ajuste del ancho de cada slide */
    height: 50px;
  }
}
