.imgEffectRight {
  -webkit-mask-image: linear-gradient(to left, black, transparent);
  mask-image: linear-gradient(to left, black, transparent);
}

.imgEffectLow {
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
}

.navbar {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}
.portada {
  background: linear-gradient(#14b8a6, #053b50);
}

.ShadowEffect {
  filter: drop-shadow(10px 0px 10px rgba(0, 0, 0, 0.9));
}

#service {
  scroll-margin-top: 5rem; /* Ajusta este valor según la altura del NavBar */
}
#contacto {
  scroll-margin-top: 5rem; /* Ajusta este valor según la altura del NavBar */
}
#about {
  scroll-margin-top: 5rem; /* Ajusta este valor según la altura del NavBar */
}

.fondoAbout {
  background: linear-gradient(
      rgba(247, 246, 246, 0.984),
      rgba(255, 255, 255, 0.472)
    ),
    url("./assets/local.jpg");

  background-size: cover;
}
